.centered-form {
    mat-form-field{
        width: 100%;
    }
}

.wrapper_input_field{
    display: flex;
    mat-form-field{
        margin-right: 24px;
    }
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
